# Local (Docker) - ajuste usuário/senha/porta conforme seu docker-compose.yml
DATABASE_URL="postgresql://user:senha@localhost:5433/orbis"

NEXTAUTH_SECRET=
NEXTAUTH_URL="http://localhost:3000"

GITHUB_CLIENT_ID="seu_client_id_aqui"
GITHUB_CLIENT_SECRET="seu_client_secret_aqui"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=